# <center>Assignment - 1
<div align="right"> By:Jogender Singh</div>

<b>Q1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

<b>*

<b>hello

<b>-87.8

<b>-

<b>/

<b>+

<b>6

<b>Ans.</b>
String Value = hello

Float Value = -87.8

Intger Value = 6

Mathematical operators = *, - , / , +

Expression is series of multiple values and variable combined with Mathematical operators to seek a new value.

<b>Q2. What is the difference between string and variable?

<b>Ans.</b> 
String is a textual value and variable is used to store the values of differnt data type.

<b>Q3. Describe three different data types.

<b>Ans.</b> 
1. Int
2. Float
3. Str

Some other Datatypes are

4. Bool
5. list
6. tuple
7. set
8. Dict
9. complex

<b> Q4. What is an expression made up of? What do all expressions do?

<b>Ans.</b>Expression is series of multiple values and variable combined with Mathematical operators. Through expression we perform specific task on values and variables to compute/generate a new value.

<b>Q5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

<b>Ans</b> The assignment statement is used to assign a value to the variable.In above eample value 10 is assigned to variable named as spam. Through expression we perform specific task on values and variables to compute/generate a new value.
    
In an assignment statement we can either assign direct a value or an expression which compute/genrate a value.

In [22]:
#Assignment_Stetment_1
a = 1
a

1

In [23]:
#Assignment_Stetment_1
a = 1*3+4
a

7

<b>Q6. After running the following code, what does the variable bacon contain?

<b>bacon = 22 , 

<b>bacon + 1

<b>Ans.<b> Variabe bacon will have same value as 22

In [25]:
bacon = 22
bacon+1
print(bacon)

22

In [26]:
#if we use assignment statement than its value will be changed
bacon = bacon +1
bacon

23

<b>Q7. What should the values of the following two terms be?

<b>'spam' + 'spam' +'spam'

<b>'spam'* 3

<b>Ans:</b>  Both the statements will produce same output. The statement will add the all 3 string and 2nd statement will reapt the fgiven string 3 times.

In [1]:
'spam'+'spam'+'spam'

'spamspamspam'

In [2]:
'spam'*3

'spamspamspam'

<b>Q8. Why is eggs a valid variable name while 100 is invalid?

<b>Ans.</b> While defining a variable in python its name can be alpha-numeric characters and underscores and name can't start with a number. Here 'eggs' is valid variable name while 100 is iteself an integer when and value cant be assigned to it.Even appending this with alphabets also give erro as invallid syntax

In [6]:
eggs = 13
eggs

13

In [10]:
#even appending this with alphabets also give erro as invallid syntax
100eggs = 10

SyntaxError: invalid syntax (Temp/ipykernel_9076/1979381316.py, line 2)

<b>Q9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

<b> Ans. </b> 
1. __'int'__ is be used for integr casting.
2. __'float'__ is used for floating-point number.
3. __'str'__ is used for string.

In [13]:
a = 10
print(type(int(a)))
print(type(float(a)))
print(type(str(a)))

<class 'int'>
<class 'float'>
<class 'str'>

<b>Q10. Why does this expression cause an error? How can you fix it?

<b>'I have eaten'+ 99 + 'burritos'

<b>Ans.</b> Here 99 is not casted as str,hence in the given expression all three part can't be concatenated together.

In [14]:
'I have eaten'+ 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

In [15]:
#solution is casting 99 as str
'I have eaten'+ '99' + 'burritos'

'I have eaten99burritos'

<center>The End